.estate__mainContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.estate__mainContentHeading {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  width: 70vw;
  justify-content: space-between;
}

.estate__searchBar {
  width: 18vw;
}

.estate__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80vw;
}
